@font-face {
    font-family: 'JetBrains Mono';
    src: url('../../public/fonts/JetBrainsMono-Medium.ttf') format('truetype');
}

.grid-container {
    background: white;
    display: grid;
    grid-template-rows: repeat(13, 1fr);
    grid-template-columns: repeat(13, 1fr);
    height: 100vh;
}

.content {
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    grid-template-rows: repeat(11, 1fr);
    grid-row-gap: 20px;
    padding-top: 3em;
    grid-column: 3 / span 13;
    grid-row: 2 / span 13;
    overflow-y: auto;
}

.user-info-box {
    border: 1px solid black;
    border-radius: 5px;
    
    /* display: grid;
    grid-template-columns: repeat(13, 1fr); */
    grid-column: 12 / span 13;
    grid-row: 4/ span 1;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2), 0 -2px 6px rgba(0, 0, 0, 0.2);
  }

  .card-list2 {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Adjust column width as needed */
    grid-column:3/ span 13; 
    grid-row: 4/ span 13; 
    grid-auto-rows: 200px;
  }
  