.formContainer {
  display: flex;
  align-items: center; /* Center items vertically */
  margin-right: 10px; /* Add some space between elements */
}

.formContainer > select,
.formContainer > input[type="text"],
.formContainer > button {
  margin-right: 5px; /* Add some space between elements */
}
