@font-face {
    font-family: 'JetBrains Mono';
    src: url('../../public/fonts/JetBrainsMono-Medium.ttf') format('truetype');
}


.grid-container {
    background: white;
    display: grid;
    grid-template-rows: repeat(13, 1fr);
    grid-template-columns: repeat(13, 1fr);
    height: 100vh;
}

.content {
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-row-gap: 20px;
    padding-top: 3em;
    grid-column: 3 / span 13;
    grid-row: 2 / span 13;
    overflow-y: auto;
}

.reportcontainer {
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: repeat(3, 1fr); /* Adjust grid columns */
    width: 800px; /* Adjust width as needed */
    height: 600px;
    max-width: 1200px; /* Set maximum width */
    grid-column: 3 / span 13;
    padding: 20px; /* Add padding inside the container */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
    border-radius: 10px; /* Add rounded corners */
    border: 2px solid #F0514A; /* Add border */

}

.titlereport {
    grid-column: 1/span 3;
}

.reporteduserOverallContainer{
    grid-row:2;
    width: 200px;
    height: 45px;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px; /* Adjust margin to reduce spacing */
}

.reporteduserContainer {
    width: 200px;
    height: 45px;
    display: flex;
    align-items: center;
    background-color: #d9d9d9;
    border-radius: 10px;
    margin-bottom: 20px; /* Add margin to create space for the error message */
}

.divider {
    height: 20px; /* Adjust height as needed */
    width: 1px; /* Adjust width as needed */
    background-color: black;
    margin: 0 10px; /* Adjust margin as needed */
  }


  .reporteduserContainer-select {
    flex: 1; /* Take up remaining space */
    padding: 10px; /* Adjust padding as needed */
    font-size: 16px; /* Set the font size */
    border: none; /* Remove border */
    outline: none; /* Remove outline */
    background-color: transparent; /* Make background transparent */
  }


.reportdescContainer {
    grid-row:3;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.reportdescContainer textarea {
    width: 250%; /* Adjust width as needed */
    height: 250px; /* Adjust height as needed */
    padding: 10px; /* Adjust padding as needed */
    font-size: 16px; /* Adjust font size as needed */
    border: 2px solid #ccc; /* Add border */
    border-radius: 5px; /* Add rounded corners */
    resize: vertical; /* Allow vertical resizing */
}




/*button*/

.button-container {
    display: flex;
    grid-row: 4;
    grid-column: 2 / span 2;
    justify-content: flex-end;
    margin-top: 20px;
  }

.submit-button {
    height: 35px;
    padding: 10px 20px;
    margin: 0 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    background-color: #007bff;
    color: #fff;
}


.submit-button:hover {
  background-color: #0056b3;
}


/*errors*/

.error {
      bottom: -5px; /* Adjust as needed */
      left: 0;
      color: red;
      font-size: 14px;
    }


    .alert {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #f8d7da;
        color: #721c24;
        border: 1px solid #f5c6cb;
        padding: 15px;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        z-index: 9999;
    }
    
    .okButton {
        margin-top: 10px;
        background-color: #007bff;
        color: #fff;
        border: none;
        border-radius: 5px;
        padding: 8px 16px;
        cursor: pointer;
    }
    
    .okButton:hover {
        background-color: #0056b3;
    }