.user-info-box {
    border: 1px solid black;
    border-radius: 5px;
    
    display: grid;
    grid-template-columns: repeat(13, 1fr);
    grid-column: 3/ span 13;
    grid-row: 2 / span 4;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2), 0 -2px 6px rgba(0, 0, 0, 0.2);
  }
  
  .user-info-box h2 {
    margin-bottom: 10px;
  }
  
  .user-info-box p {
    margin: 5px 0;
  }

  .container {
    position: relative;
    height: 100vh; /* Adjust height as needed */
  }
  
  .centered {
    position: absolute;
    top: 23%;
    left: 55%;
    transform: translate(-50%, -50%);
  }
  .edit-button {
    position: absolute;
    top: 36%;
    left: 97%;
    transform: translate(-50%, -50%);
  }

  .addsvc-button {
    position: absolute;
    top: 30%;
    left: 97%;
    transform: translate(-50%, -50%);
  }

  input[type="text"] { width: 200px; }

  .visible {
    display: block;
  }
  
  .hidden {
    display: none;
  }