/* .side-nav-bar {
    height: 100%;
    width: 200px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #333;
    padding-top: 20px;
    
  } */
  .side-nav-bar {
    grid-row: 2 / span 1; /* Span across the second row */
    background-color: #555;
    color: white;
    padding: 20px;
  }
  .side-nav-bar ul {
    list-style-type: none;
    padding: 0;
  }
  
  .side-nav-bar li {
    padding: 10px;
  }
  
  .side-nav-bar a {
    text-decoration: none;
    color: white;
  }
  
  .side-nav-bar a:hover {
    color: #ff5733; /* Change color on hover */
  }
  