
  
  /* Card.css */
  
  .card {
    display: grid; /* Use grid layout */
    grid-template-columns: 1fr; /* One column */
  }
  
  .card h2 {
    margin-top: 0;
  }
  
  .card p {
    margin-bottom: 0;
  }
  